@use "./helper/mixins";
@use "./helper/colors";
@use "./helper/variables";

.main-nav {
  @include mixins.flex($just: flex-start);
  padding: 11px 23px;
  color: colors.$gray;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  gap: 42px;
  height: variables.$nav-height;
  .nav-contents {
    flex: 1;

    @include mixins.flex($just: space-between);
    .close-btn {
      display: none;
    }
  }
  .links {
    @include mixins.flex($just: flex-start);

    ul {
      list-style: none;
      @include mixins.flex();
      gap: 24px;
      a {
        text-decoration: none;
        color: colors.$gray;
      }
    }
  }
  .btns {
    @include mixins.flex();
    gap: 24px;
    .lang {
      cursor: pointer;
    }
    > div {
      @include mixins.flex();

      gap: 16px;
    }
  }
}

.main-footer {
  @include mixins.side-margin(lg);
  background: colors.$blue;
  padding: 50px 0;
  padding-right: calc((100% - 1200px) / 2);
  padding-left: calc((100% - 1200px) / 2);
  margin-top: 150px;
  color: colors.$white;
  @include mixins.flex($dir: column, $align: stretch);
  .container {
    @include mixins.flex($align: flex-start);
    gap: 80px;
  }
  .title {
    font-weight: bold;
  }
  .about {
    width: 360px;
    @include mixins.flex($dir: column, $align: flex-start);
    gap: 35px;
    .text {
      line-height: 25px;
    }
  }
  .links-lists {
    flex: 1;
    @include mixins.flex($just: space-between);
    ul {
      list-style: none;
      margin-top: 32px;
      @include mixins.flex($dir: column, $align: flex-start);
      gap: 10px;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .footer-footer {
    @include mixins.flex($just: space-between);
    margin: {
      top: 30px;
      bottom: -30px;
    }
    .social-row {
      @include mixins.flex();
      gap: 15px;
    }
  }
}

.btn {
  &.deflated {
    @include mixins.button($template: deflated);
  }
  &:not(.deflated) {
    @include mixins.button();
  }
}

.page {
  min-height: 100vh;
  padding-top: variables.$nav-height;
  padding-right: calc((100% - 1200px) / 2);
  padding-left: calc((100% - 1200px) / 2);
  // @include mixins.side-margin();
}

@include mixins.mediaQuery(xl) {
  .page {
    @include mixins.side-margin(md);
  }
  .main-footer {
    @include mixins.side-margin(md);
  }
}
@include mixins.mediaQuery(lg) {
  .main-nav {
    justify-content: space-between;
    .nav-contents {
      overflow-y: scroll;
      box-shadow: -3px 0 5px rgba(black, 0.3);
      &.open {
        transform: translateX(0);
        opacity: 1;
      }
      transition: 0.5s;
      position: fixed;
      right: 0;
      top: 0;
      height: 100vh;
      flex-direction: column;
      transform: translateX(100%);
      opacity: 0;
      background: white;
      padding: 50px 20px;
      .close-btn {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        color: colors.$primary;
      }
      .links {
        flex: 1;
        &,
        ul {
          flex-direction: column;
          width: 100%;
        }
        ul {
          align-items: flex-start;
          gap: 0;
          li {
            text-align: left;
            width: 100%;
            a {
              width: 100%;
              display: inline-block;
              padding: 20px 0;
            }
            &:not(:last-child) {
              border-bottom: 1px solid colors.$black;
            }
          }
        }
      }
      .btns {
        align-items: flex-start;
        flex-direction: column;
      }
    }
    .burger {
      @include mixins.flex($dir: column);
      cursor: pointer;
      gap: 3px;
      div {
        height: 3px;
        width: 30px;
        background: colors.$primary;
        border-radius: 5px;
      }
    }
  }
  .main-footer {
    .container {
      flex-direction: column;
      align-self: center;
      width: 80%;
      align-items: center;
      width: 100%;
      .links-lists {
        align-self: stretch;
      }
    }
    .footer-footer {
      margin-top: 50px;
    }
  }

  .page {
    @include mixins.side-margin(sm);
  }
}

@include mixins.mediaQuery(md) {
  .main-footer {
    @include mixins.side-margin(sm);
  }
  .btn {
    font-size: 14px !important;
  }
}

@include mixins.mediaQuery(sm) {
  .main-footer {
    font-size: 14px;
    .about {
      width: 320px;
      img {
        max-width: 100%;
      }
    }
  }
}
